name: secret-scan

on:
  push:
  pull_request:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: docker://zricethezav/gitleaks:latest
        with:
          args: detect --source . --no-git --verbose --exit-code 1



